<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dynamic Agents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="navbar" role="navigation">
      <div class="container flex flex-col flex-between">
        <div class="navbar-header">
          <img src="{{ url_for('static', filename='JLR_logo.png' )}}" width="215" height="50" title="JLR logo" border="0">
          <h3>Dynamic Agents</h3>
        </div>
      </div>
    </div>
    <div class="container" id="mainarea">

    </div>
  </body>
  <script type="text/javascript" charset="utf-8">

    function startTimer () {
      
      setTimeout(stopTimer,2000);
    }

    function stopTimer () {
        
        location.reload();
    }
    {% if data %}
    var entire_payload = '{{data|tojson}}';
    list_of_data = JSON.parse(decodeURI(entire_payload));

    for (var key in list_of_data) {
       document.getElementById("mainarea").innerHTML = document.getElementById("mainarea").innerHTML +"<h4 class='countreport'>" +key+"</h4>"
       console.log(key);
       if (list_of_data.hasOwnProperty(key)) {
           var obj = list_of_data[key];
            for (var prop in obj) {
              // important check that this is objects own property 
              // not from prototype prop inherited
              if(obj.hasOwnProperty(prop)){
                document.getElementById("mainarea").innerHTML = document.getElementById("mainarea").innerHTML +"<div class='count'><label>" +prop+"</label><p>" + obj[prop] +"</p></div>" 
                console.log(prop + " = " + obj[prop]);
              }
           }
        }
    }
    {% endif %}
    startTimer()
  </script>
</html>
